 
body{ 
font-family: Impact;   
background-color:orange;  
} 
h1 {  
color: blue;  
font-family: Impact;  
font-size: 40pt;} 
h2 {  
color: blue;  
font-family: Brushstroke;  
font-size: 40pt;} 
 
ul{  
color: red;  
font-family: Oldtown;  
font-size: 20pt;} 